@media (width >= 480px) {
object {
    width: 750px;
    height: 700px;
}
.cat-container { 
    margin: auto 0;
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-color: #3730c4;
}
.cat-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.cat-container h1 {
	font-size:50px;
}
.cat-container h2 {
	font-size: 40px;
}
.intro {
	grid-area: intro;
}
.pdf {
	grid-area: pdf;
}
.pdf a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.pdf a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item2 {
	grid-area: exer2;
}
.tut-container { 
    margin: auto 0;
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-color: #3730c4;
}
.tut-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.tut-container h1 {
	font-size:50px;
}
.tut-container h2 {
	font-size: 40px;
}
.tut-container a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;
}
.tut-container a:hover {
	color: #3730c4;
	text-decoration: underline;
}
.intro { 
	grid-area: intro; 
	padding: 10px;
}
.intro p {
	font-size:30px;
}
.intro a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.intro a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.tut1 { 
	grid-area: tut1; 
	padding: 10px;
}
.tut1 p {
	font-size:30px;
}
.tut1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.tut1 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.tut2 { 
	grid-area: tut2; 
	padding: 10px;
}
.tut2 p {
	font-size:30px;
}
.tut2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.tut2 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.foot { 
	grid-area: foot; 
	padding: 10px;
}
.foot p {
	font-size:30px;
}
.foot a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.foot a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
}
@media (width >= 1200px) {
.cat-container { 
    margin: auto 0;
	padding: 20px;
	gap: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-color: #3730c4;
}
.cat-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.cat-container h1 {
	font-size:50px;
}
.cat-container h2 {
	font-size: 40px;
}
.intro {
	grid-area: intro;
}
.pdf {
	grid-area: pdf;
}
.pdf a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.pdf a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item2 {
	grid-area: exer2;
}
object {
    width: 1200px;
    height: 800px;
}
.tut-container { 
	display: grid;
	grid-template-areas:
		'intro intro'
		'tut1 tut2'
		'foot foot'
		;
	gap: 10px;
	background-color: #3730c4;
	padding: 10px;
}
.tut-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.tut-container h1 {
	font-size:50px;
}
.tut-container h2 {
	font-size: 40px;
}
.tut-container a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;
}
.tut-container a:hover {
	color: #3730c4;
	text-decoration: underline;
}
.intro { 
	grid-area: intro; 
	padding: 10px;
}
.intro p {
	font-size:30px;
}
.intro a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.intro a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.tut1 { 
	grid-area: tut1; 
	padding: 10px;
}
.tut1 p {
	font-size:30px;
}
.tut1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.tut1 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.tut2 { 
	grid-area: tut2; 
	padding: 10px;
}
.tut2 p {
	font-size:30px;
}
.tut2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.tut2 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.foot { 
	grid-area: foot; 
	padding: 10px;
}
.foot p {
	font-size:30px;
}
.foot a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.foot a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
}
